<!DOCTYPE html>
<html>
  <head>
    <title>Buscador de video-aulas de acordeon da fisarmonica.online</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://fisarmonica.online/wp-content/uploads/2021/08/cropped-logo_icon-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://fisarmonica.online/wp-content/uploads/2021/08/cropped-logo_icon-1-192x192.png" sizes="192x192" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-800">
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
